{% extends 'base.html' %}
{% load static %}
{% load markdownify %}


{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Category: {{ category }}</h1>
    <hr>

    {% if projects %}
        <h2>Projects:</h2>
        <ul>
        {% for project in projects %}
            <li><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if courses %}
        <h2>Courses:</h2>
        <ul>
        {% for course in courses %}
            <li><a href="{{ course.get_absolute_url }}">{{ course.subject }} {{ course.code }}: {{ course.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if posts %}
        <h2>Posts:</h2>
        {% for post in posts %}
        <h2><a href="{% url 'blog_detail' year=post.created_on.year month=post.created_on.month pk=post.pk slug=post.slug %}">{{ post.title }}</a></h2>
        <small>
            {{ post.created_on.date }} |&nbsp; Categories: &nbsp;
            {% for category in post.categories.all %}
                <span class="badge rounded-pill bg-secondary">
                    <a class="link-light" href="{% url 'blog_category' category.name %}">{{ category.name }}</a>&nbsp;
                </span>
            {% endfor %}
        </small>
        <div id="body_{{ post.slug }}">
            {{ post.body | truncatewords_html:60 | markdown | safe }}
        </div>
        {% empty %}
            <p>No content found with this category.</p>
        {% endfor %}
    {% endif %}

</div>
{% endblock %}