{% extends 'base.html' %}
{% load static %}
{% load markdownify %}

{% block title %}afkcode.com - Blog{% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pygments-tomorrow-night-eighties.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pygments-override.css' %}">
{% endblock %}

{% block page_content %}

<div class="col-md-8 offset-md-2">
    <h1>Blog Index</h1>
    <hr>
    {% for post in posts %}
    <h2><a href="{% url 'blog_detail' year=post.created_on.year month=post.created_on.month pk=post.pk slug=post.slug %}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }}
        {% for category in post.categories.all|dictsort:'name' %}
            <span class="badge rounded-pill bg-secondary">
                <a class="link-light" href="{% url 'blog_category' category.name %}">{{ category.name }}</a>&nbsp;
            </span>
        {% endfor %}
    </small>
    <div id="body_{{ post.slug }}">
        {{ post.body | truncatewords_html:60 | markdown | safe }}
    </div>
    {% empty %}
        <p>Nothing to display.</p>
    {% endfor %}
</div>
{% endblock %}