{% extends 'base.html' %}
{% load static %}
{% load markdownify %}

{% block title %}afkcode.com - Blog{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}">
{% endblock style %}

{% block content %}
    <div class="col-md-9 offset-md-1">
        {% for post in posts %}

        <div id="post_{{ post.slug }}" class="card mt-3 mb-4 p-0 shadow-sm">
            <div class="p-4 py-3">
                <div class="card-title">
                    <h1>
                        <a class="link-dark text-decoration-none" href="{% url 'blog_detail_with_date' year=post.created_on.year month=post.created_on.month pk=post.pk slug=post.slug %}">
                            {{ post.title }}
                        </a>
                    </h1>
                </div>

                <div class="card-text">
                    <span class="datetime float-start mx-1">
                        {{ post.created_on.date }}&nbsp;
                    </span>
                    <ul aria-label="Categories for post {{ post.slug }}" class="list-inline">
                        {% for category in post.categories.all %}
                            <li class="list-inline-item">
                                <span class="badge rounded-pill bg-gradient bg-secondary">
                                    <a class="link-light" href="{% url 'blog_category' category.name %}">{{ category.name }}</a>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="card-body p-1 py-0">
                    <div class="card-text">
                        {{ post.body | truncatewords_html:50 | markdown | safe }}
                    </div>
                    <div class="card-text">
                        <a role="button" class="btn btn-primary float-start bg-gradient my-2" href="{% url 'blog_detail_with_date' year=post.created_on.year month=post.created_on.month pk=post.pk slug=post.slug %}">Read more</a>
                    </div>
                </div>

            </div>
        </div>

        {% empty %}
            <p>No posts to display.</p>
        {% endfor %}
    </div>
{% endblock content%}