{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% load markdownify %}

{% block title %}afkcode.com - {{ post.title }}{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}">
{% endblock style %}

{% block content %}
    <div class="col-md-9 offset-md-1">

        <div id="post_{{ post.slug }}" class="card mt-3 mb-5 p-0 shadow">
            <div class="p-4 py-3">
                <div class="card-title">
                    <h1>
                        <a class="link-dark text-decoration-none" href="{% url 'blog_detail_with_date' year=post.created_on.year month=post.created_on.month pk=post.pk slug=post.slug %}">
                            {{ post.title }}
                        </a>
                    </h1>
                </div>

                <div class="card-text">
                    <span class="datetime float-start mx-1">
                        {% localtime on %}
                            {{ post.created_on.date }}&nbsp;
                        {% endlocaltime %}
                    </span>
                    <ul aria-label="Categories for post {{ post.slug }}" class="list-inline">
                        {% for category in post.categories.all %}
                            <li class="list-inline-item">
                                <span class="badge rounded-pill bg-gradient bg-secondary">
                                    <a class="link-light" href="{% url 'blog_category' category.name %}">{{ category.name }}</a>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="card-body p-1 py-0">
                    <div class="card-text">
                        {{ post.body | markdown | safe }}
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col-10 offset-1 col-md-7 offset-md-2">

        {% if comments %}
            <div id="comments" class="mb-5">
                <h3>Comments</h3>
                {% for comment in comments %}
                    <div id="comment-{{ comment.pk }}" class="card shadow-sm mb-3">
                        <div class="card-header pb-1">
                            <h5 class="float-start">
                                <!-- https://icons.getbootstrap.com/icons/person-circle/ -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" class="align-bottom bi bi-person-circle" fill="#6c757d" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                                <span class="mx-1">{{ comment.author }}</span>
                            </h5>
                            <span class="card-text text-muted float-end">
                                {{comment.created_on.date }}
                                <a href="#comment-{{ comment.pk }}" role="button" aria-label="Link to comment {{ comment.pk }} by {{ comment.author }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.1rem" height="1.1rem" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                                        <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                                        <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                                    </svg>
                                </a>
                            </span>
                        </div>
                        <div class="card-body py-2">
                            <p class="card-text">{{ comment.body | markdown | safe }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <h3>Leave a comment</h3>
        <div id="comment-form" class="mb-3">
            <form action="/blog/{{ post.created_on.year }}/{{ post.created_on.month }}/{{ post.pk }}-{{ post.slug }}" method="post">
                {% csrf_token %}
                <div class="mb-2 shadow-sm">
                    {{ form.author }}
                </div>
                <div class="mb-2 shadow-sm">
                    {{ form.body }}
                </div>
                <button type="submit" class="btn btn-primary bg-gradient">Submit</button>
            </form>
        </div>

    </div>
{% endblock content %}