{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% load markdownify %}

{% block title %}afkcode.com - Blog{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}">
{% endblock style %}

{% block nav %}{% with active_section='blog' %}{{ block.super }}{% endwith %}{% endblock %}

{% block content %}
    <div class="col-md-9 offset-md-1">
        {% for post in posts %}

            {% include 'includes/post_card.html' with post=post detail_view=False %}

        {% empty %}
            <p>No posts to display.</p>
        {% endfor %}
    </div>
{% endblock content%}