.nav-link {
    border-radius: 6px;
}
.nav-link.active {
    background-color: #b294bb !important;
    color: white !important;
}
.nav-link:hover {
    background-color: #e0e0e0;
    transition-duration: 300ms;
    transition: ease-in-out;
}