{% extends 'base.html' %}
{% load static %}

{% block title %}afkcode.com - Courses{% endblock title %}

{% block nav %}{% with active_section='courses' %}{{ block.super }}{% endwith %}{% endblock %}

{% block content %}
    <div class="row">
        {% if courses_in_progress %}
            {% include '_course_index_card.html' with courses=courses_in_progress section_title='In Progress' %}
        {% endif %}

        {% if courses_completed %}
            {% include '_course_index_card.html' with courses=courses_completed section_title='Completed' %}
        {% endif %}

        {% if courses_planned %}
            {% include '_course_index_card.html' with courses=courses_planned section_title='Planned' %}
        {% endif %}
    </div>
{% endblock content %}