{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<div>
    <h1>{{ course.subject }} {{ course.code }} - {{ course.name }}</h1>
    <p>School: <a href="{{ course.school.website }}">{{ course.school.name }}</a></p>
    <p>Units: {{ course.units }}</p>
    {% if course.completed %}
        <p>Completed</p>
    {% elif course.in_progress %}
        <p>In Progress</p>
    {% endif %}
    <h2>Description:</h2>
    <p>{{ course.description | safe | linebreaks }}</p>

    <h2>Associated projects:</h2>

    {% for project in projects %}
        <a href="{% url 'project_detail' project.pk project.slug %}">{{ project.title }}</a>
    {% endfor %}

</div>
{% endblock %}