{% extends 'base.html' %}
{% load static %}

{% block title %}afkcode.com - {{ project.title }}{% endblock title %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        {% comment %}
        <img src="{% get_media_prefix %}{{ project.image.name }}" alt="Image of {{ project.title }}" width="100%">
        {% endcomment %}
        <img src="http://via.placeholder.com/900x600" alt="Placeholder image" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description | safe | linebreaks }}</p>
        <br>
        <h5>Categories:</h5>
        <ul class="list-inline">
        {% for category in project.categories.all %}
            <li class="list-inline-item">
                <a href="{% url 'blog_category' category.name %}">{{ category.name }}</a> &nbsp;
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}