{% extends 'base.html' %}
{% load static %}
{% load markdownify %}

{% block title %}afkcode.com - {{ project.title }}{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}">
{% endblock style %}

{% block nav %}{% with active_section='projects' %}{{ block.super }}{% endwith %}{% endblock %}

{% block content %}
    <h1>{{ project.title }}</h1>
    <div class="row">
        <div class="col-md-8">
            {% if project.image %}
                <img src="{% get_media_prefix %}{{ project.image.name }}" alt="{{ project.image_alt_text }}" width="100%">
            {% endif %}
        </div>
        <div class="col-md-4">
            <h5>About this project:</h5>
            <p>{{ project.description | markdown | safe }}</p>
            <br>
            <h5>Categories:</h5>
            {% include '_category_list.html' with categories=project.categories.all description=project.title %}
        </div>
    </div>
{% endblock content %}