{% extends 'base.html' %}
{% load static %}
{% load markdownify %}

{% block title %}afkcode.com - Projects{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}">
{% endblock style %}

{% block nav %}{% with active_section='projects' %}{{ block.super }}{% endwith %}{% endblock %}

{% block content %}
    <div class="row gx-3 gy-2">
        {% for project in projects %}
        <div class="col-md-6 col-lg-4 col-xxl-3">
            <div class="card mb-2 shadow-sm">
                {% if project.image %}
                    <a href="{% url 'project_detail' pk=project.pk slug=project.slug %}">
                        <img class="card-img-top" src="{% get_media_prefix %}{{ project.image.name }}" alt="{{ project.image_alt_text }}">
                    </a>
                {% endif %}
                <div class="card-body pb-0">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description | truncatewords_html:20 | markdown | safe }}</p>
                    <a href="{% url 'project_detail' pk=project.pk slug=project.slug %}" class="btn btn-primary bg-gradient mt-1">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
            <p>No projects to display.</p>
        {% endfor %}
    </div>
{% endblock content %}