{% extends 'base.html' %}
{% load static %}
{% load markdownify %}

{% block title %}afkcode.com - {{ project.title }}{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}">
{% endblock style %}

{% block content %}
    <h1>{{ project.title }}</h1>
    <div class="row">
        <div class="col-md-8">
            {% if project.image %}
                <img src="{% get_media_prefix %}{{ project.image.name }}" alt="{{ project.image_alt_text }}" width="100%">
            {% endif %}
        </div>
        <div class="col-md-4">
            <h5>About this project:</h5>
            <p>{{ project.description | markdown | safe }}</p>
            <br>
            <h5>Categories:</h5>
            <ul class="list-inline">
            {% for category in project.categories.all %}
                <li class="list-inline-item">
                    <span class="badge rounded-pill bg-gradient bg-secondary">
                        <a class="link-light" href="{% url 'blog_category' category.name %}">{{ category.name }}</a>
                    </span>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}