{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
        <div class="navbar-brand">
            <img alt="afkcode.com logo" class="me-1" src="{% static 'img/site_logo/logo_h100.png' %}" height="80px">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link fw-bold ps-2 mt-1 me-1 {% if active_section == 'blog' %}active{% endif %}" href="{% url 'blog_index' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold ps-2 mt-1 me-1 {% if active_section == 'projects' %}active{% endif %}" href="{% url 'project_index' %}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold ps-2 mt-1 me-1 {% if active_section == 'courses' %}active{% endif %}" href="{% url 'course_index' %}">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold ps-2 mt-1 me-1 {% if active_section == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>