{% extends 'base.html' %}
{% load static %}

{% block title %}afkcode.com - About{% endblock title %}

{% block content %}
<div>
    <h1>About me</h1>
    <p>I am a creative problem solver with a passion for making things better.</p>
    <p>I currently work as a QA Engineer at company that makes software for educational institutions, and I'm finishing up my CS degree through CSUMB's Computer Science Online program.</p>
    <p>My ongoing goal is to combine my software engineering skills with my other passions, which include music, education, VR, and environmental sustainability.</p>
    <br>
    <blockquote class="blockquote">
        <p class="mb=0">&ldquo;Mine is a humble flame, just a little white lighter.&rdquo;</p>
        <div class="blockquote-footer">Kyle Morton, <cite title="Artificial Light">Artificial Light</cite></div>
    </blockquote>
</div>
{% endblock content %}