{% extends 'base.html' %}
{% block page_content %}
<div>
    <h1>About me</h1>
    <p>I am a creative problem solver with a passion for making things better. I currently work as a QA Engineer at company that makes software for educational institutions, and I'm finishing up my CS degree through CSUMB's Computer Science Online program.</p>
    <p>My ongoing goal is to combine my software engineering skills with my other passions, which include music, education, and VR.</p>
    {% comment %}
    <br>
    <blockquote class="blockquote">
        <p class="mb=0">&ldquo;Sometimes things will bend you, but trust me you'll be fine.<br>
            'Cause I've been moving mountains that I once had to climb.&rdquo;</p>
        <footer class="blockquote-footer">Neck Deep, <cite title="Gold Steps">Gold Steps</cite></footer>
    </blockquote>
    {% endcomment %}
</div>
{% endblock %}